<!DOCTYPE html>
<html>
  <head>
    <title>渡辺研究室 | 大阪大学 大学院情報科学研究科 情報ネットワーク学専攻　工学部 電子情報工学科 情報通信工学科目</title>
  </head>
  <body>
    <h1>渡辺研究室 | 大阪大学 大学院情報科学研究科 情報ネットワーク学専攻 | 研究内容紹介</h1>
    <div>
      <a href="{% url 'index:index' %}" style='font-size: 20px;'>全体概要</a>&nbsp;
      <a href="{% url 'index:remark1' %}" style='font-size: 20px;'>IoT/M2M  Sensor Networks</a>&nbsp;
      <a href="{% url 'index:remark2' %}" style='font-size: 20px;'>深層学習×映像伝送</a>&nbsp;
      <a href="{% url 'index:remark3' %}" style='font-size: 20px;'>VR/AR Multimedia Networks</a>&nbsp;
    </div>
    <hr>
    {% block content %}{% endblock %}
    <hr>
  </body>
</html>
