<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>
 <head>
  <title>Index of /infosysnet</title>
 </head>
 <body>
<h1>Index of /infosysnet</h1>
<table>
    <tr>
        <th><img src="" alt="[ICO]"></th>
        <th><a href="">Name</a></th>
        <th><a href="">Last modified</a></th>
        <th><a href="">Size</a></th>
        <th><a href="">Description</a></th>
    </tr>
    <tr>
        <th colspan="5"><hr></th>
    </tr>
    <tr>
        <td valign="top"><img src="" alt="[DIR]"></td>
        <td><a href="{% url 'index:top' %}">Parent Directory</a></td>
        <td>&nbsp;</td><td align="right">  - </td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td valign="top"><img src="" alt="[TXT]"></td>
        <td><a href="{% url 'index:forbidden' %}">remark1.txt</a></td>
        <td align="right">09-Jan-2019 08:00  </td>
        <td align="right"> 19K</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td valign="top"><img src="" alt="[TXT]"></td>
        <td><a href="{% url 'index:forbidden' %}">remark2.txt</a></td>
        <td align="right">09-Jan-2019 08:00  </td>
        <td align="right"> 21K</td><td>&nbsp;</td>
    </tr>
    <tr>
        <td valign="top"><img src="" alt="[TXT]"></td>
        <td><a href="{% url 'index:forbidden' %}">remark3.txt</a></td>
        <td align="right">09-Jan-2019 08:00  </td>
        <td align="right">5.9K</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td valign="top"><img src="" alt="[TXT]"></td>
        <td><a href="{% url 'index:forbidden' %}">flag.txt</a></td>
        <td align="right">09-Jan-2019 08:00  </td>
        <td align="right"> 58 </td><td>&nbsp;</td>
    </tr>
    <tr>
        <td valign="top"><img src="" alt="[   ]"></td>
        <td><a href="{% url 'index:forbidden' %}">index.txt</a></td>
        <td align="right">09-Jan-2019 08:00  </td><td align="right">1.0K</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <th colspan="5"><hr></th>
    </tr>
</table>
<address>Apache/2.2.15 Server at Raspberry Pi Port 10080</address>
</body></html>